/* COMMON */
body{
    font-family: Arial, sans-serif;
}

header{
    font-family: Helvetica, arial, sans-serif;
}

img{
    max-width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex-cont{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

/* UTILITY*/

/* GENERARI PS-PLUS E NOW */
.info-ps-sub{
    margin: 25px 0;
}
.img-ps-sub{
    width: 50%;
}

.info-ps-now p{
    padding-top: 30px;
    font-weight: bolder;
}

/* BOTTONI */
.btn-grey{
    background-color: grey;
    color: white;
}

.btn-orange{
    background-color: orangered;
    color: white;
}

/* HEADER */

/* header-top */
.header-top{
    background-color: black;
    height: 30px;
    text-align: end;
}

.header-top img{
    height: 30px;
    padding: 8px;
}

/* header-bottom */
.header-bottom{
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.header-bottom i{
    color: lightgray;
    padding-left: 3px;
}

.ms-nav-left{
    height: 100%;
    line-height: 50px;
    padding-left: 10px;
}

.ms-nav-left li{
    font-weight: bolder;
}

.header-bottom li{
    display: inline-block;
    padding-right: 10px;
}

.header-bottom li img{
    width: 50%;
}

.btn-burger i{
    font-size: 30px;
    color: grey;
}

.header-bottom nav{
    text-align: right;
}

.ms-nav-right li:first-child a{
    font-weight: bolder;
}

.header-bottom li:hover{
    color:#00439c
}

/* MAIN */

/* jumbortron */
.ms-jumbo{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.info-jumbo{
    padding-top: 200px;
    padding-bottom: 20px;
    width: 80%;
    color: white;
    align-items: baseline;
}

.info-jumbo img{
    width: 60%;   
}

.info-jumbo h2{
    font-size: 40px;
    padding: 25px 0;
}

/* usciti ora */
.out-now{
    padding: 30px 0 100px 0;
}

.img-card > img{
    border-radius: 15px;
    padding: 3px;
}

.ms-border{
    border: 3px solid #0072ce;
    border-radius: 15px;
}

/* PS5 */
.ps5{
    padding: 50px 0;
}

.intro-ps5{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.intro-ps5 h5{
    font-size: 15px;
    color: #2485d5;   
}

.intro-ps5 h2{
    font-size: 45px;
}

.intro-ps5 p{
    padding: 10px 0;
    font-size: 18px;
    font-weight: bolder;
    color: #727272;
}


.info-ps5 h2{
    font-size: 45px;
    padding-bottom: 10px;
}

.info-ps5 p{
    font-size: 18px;
    font-weight: bolder;
    color: #727272;
    padding-bottom: 10px;
}

.info-gadget{
    text-align: center;
    padding: 15px;
    height: 100%;
    color: #727272;

}

.info-gadget:hover{
    border-bottom: 3px solid #0d6efd;
    color: black;
    font-weight: bolder;
}

.col:first-child .info-gadget p{
    color: black;
    
}

.info-gadget img{
    padding-bottom: 15px;   
}

.ms-opacity{
    opacity: 0.5;
}

.ms-opacity:hover{
    opacity: 1;
}

/* it takes two */
.game{
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.info-game{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    align-items: baseline;
}

.info-game img{
    width: 60%;   
}

.info-game h2{
    font-size: 40px;
    padding: 25px 0;
}

/* nuove usite */
.new-relese{
    width: 100%;
    background-color: #1f1f1f;
    color: white;
}

.new-relese h2{
    padding: 25px 0;
}

.new-relese h4{
    padding-bottom: 15px;
}
.img-new-relese img{
    border-radius: 10px;
}

.new-relese p{
    padding-top: 5px;
}

/* info PS4 */
.info-ps4{
    text-align: center;
    padding: 50px 0;
}

.ps4 p{
    font-size: 20px;
    color: #727272;
    font-weight: bolder;
}
.info-ps4 h2{
    font-size: 50px;
}

.ps4 .card h2{
    font-size: 40px;
}

.card{
    border: 0;
}

 /*playstation PLUS */
.play-plus{
    width: 100%;
    background-color: #bebcbb;
}

.btn-pls-plus{
    background-color: #d9dadc;
    color: #3569e5;
}

/* sconti */
.sales{
    padding-bottom: 50px;
}
.sconti{
    text-align: center;
    padding: 50px;
}

.sconti h2{
    font-size: 50px;
}

.sconti p{
    font-size: 20px;
    color: #727272;
    font-weight: bolder;
}

/* playstation NOW */
.ps-now{
    width: 100%;
    background-color: #161c3b;
    color: white;
}

.btn-ps-now{
    background-color: white;
    color: black;
}

/* media */
.media{
    padding: 50px 0;
}

.info-media{
    text-align: center;
}

.info-media h2{
    font-size: 30px;
    padding-bottom: 40px;
}

/* FOOTER */
footer{
    background-color: #00439c;
    color: white;
    padding: 30px 0;
}

.footer-ps-logo img{
    width: 20%;
}
.region{
    padding-top: 30px;
    align-items: start;
}

.region p{
    font-size: 13px;
    padding-left: 15px;
}

.region img{
    width: 4%;  
}
footer ul{
    padding-left: 35px;
}

footer li{
    font-size: 15px;
    line-height: 30px;
}

.info-sony img{
    width: 30%;
}

.info-sony p{
    padding-top: 10px;
    font-size: 15px;
}

/* DESKTOP */
@media screen and (min-width:992px) {
/* MAIN */

/* jumbotron */
    .info-jumbo{
        width: 35%;
    }

    /* ps5 */
    .info-gadget{
        padding: 30px;
    }

    /* it takes two  */
    .info-game{
        width: 35%;
    }

    /*FOOTER info sony */
    .info-sony{
        width: 50%;
    }
}

